body {
    overflow: hidden;
    margin: 0;
  }

.section-container{
    scroll-snap-align: start;
    height: 100vh;
}

#landing-container{
    scroll-snap-type: y mandatory;
    overflow-y: auto;
    height: 100vh;
}

#intro-container{
    margin: auto;
    padding: 5vh 0;
    text-align: center;
    border: 1px black solid;
    height: auto;
    width: 130vh;
}

#intro-box{
    height: auto;
    width: 100vh;
    display: inline-block;
    text-align: left;
}

