body {
    overflow: hidden;
    margin: 0;
  }

.section-container{
    scroll-snap-align: start;
    height: 100vh;
}

#landing-container{
    scroll-snap-type: y mandatory;
    overflow-y: auto;
    height: 100vh;
}

