/* body {
    overflow: hidden;
    margin: 0;
  }

.section-container{
    scroll-snap-align: start;
    height: 100vh;
}

#landing-container{
    scroll-snap-type: y mandatory;
    overflow-y: auto;
    height: 100vh;
} */

.section-container{
    height: 100vh;
    width: auto;
}

/* @media (max-height: 800px){
    .section-container{
        height: 125vh;
    border: 1px red solid;
    }
} */


#intro-container{
    margin: auto;
    padding: 5vh 0;
    text-align: center;
    border: 1px black solid;
    height: auto;
    width: 130vh;
}

#intro-box{
    height: auto;
    width: 80vh;
    display: inline-block;
    text-align: left;
}

#why-container, #how-container, #pricing-container{
    margin: auto;
    text-align: center;
    height: auto;
    width:150vh;
}

#why-box, #how-box, #pricing-box{
    height:auto;
    width: 120vh;
    display: inline-block;
    text-align: left;
}

